:root {
  --dark-orange: #ef480b;
  --darker-orange: #C43B0A;
}

hr {
    border-color:var(--dark-orange);
}
/*BUTTON*/
.btn-customize {
    background: var(--dark-orange);
}
.btn-customize:hover, 
.btn-customize:focus,
.btn-customize:active {
    background: var(--darker-orange);
}

.bg { 
    /* The image used */
    background-image: url("../resources/bg.jpeg");
}

.header h1{
    color: var(--dark-orange);
}

#content a {
  padding-left: 25px;
  padding-right: 25px;
  margin: 10px 0 10px 0;
  margin-left: 25px;
  margin-right: 25px;
}

.footer {
	background-color: var(--dark-orange);
	color:white;
}
.footer a {
	color: white;
}